    <div id="header" class="container" style="background:red;">header</div>

    <div class="container">
      <div class="row">
        <div class="col-sm-3 hidden-xs" style="background:gray;">Side1</div>
        <div class="col-sm-6 col-xs-6" style="background:green;">Main</div>
        <div class="col-sm-3 col-xs-6" style="background:orange;">Side2</div>
      </div>
    </div>

    <div id="footer" class="container" style="background:blue;">footer</div>

<h1>先生ログイン画面</h1>

<!-- フラッシュ変数のメッセージを表示（ログインエラー時のみ） -->
<p><font color=red><%= flash[:alert] %></font></p>
<%= form_tag login_path do %>
<table id="login_form">
  <tr>
    <td><%= label_tag :email, 'アドレス' %></td>
    <td><%= text_field_tag :email, params[:email] %></td>
  </tr>

  <tr>
    <td><%= label_tag :pass, 'パスワード' %></td>
    <td><%= password_field_tag :pass, params[:pass] %></td>
  </tr>

  <tr>
    <td><%= submit_tag "ログイン" %></td>
  </tr>
</table>
<% end %>

<%= link_to "新規登録1", new_teacher_path %>

